{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title %}

   <title>register</title>

{% endblock title %}

{% block content %}
  <div class="container">
    <h1>Register here :</h1>
  </br>
  {% if messages%}
  {% for a in messages%}
         <div class="alert alert-success alert-dismissible fade show" role="alert">
           {{a}}
           <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert"> -->
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           <!-- </div> -->
         </div>

  {% endfor %}
  {% endif %}


  <form method='POST' class="col-6">
   {% csrf_token %}
   {{form.username|as_crispy_field}}
   <p></p>
   {{form.email|as_crispy_field}}
    <p></p>
   {{form.password1|as_crispy_field}}
    <p></p>
   {{form.password2|as_crispy_field}}
    <p></p>

   </br>
   <input type="submit" class="btn btn-primary">

  </form>

  </div>
{% endblock %}
