{% extends 'base.html'%}

{% block title %}

    <title>update</title>
{% endblock %}

{% block content %}
  <div class="container">
   {% if task.logger == request.user %}
          <form method='POST'>

              {% csrf_token %}
              <div class="form-group">
                <!-- <label class="col-lg-4"> Add task :</label> -->
                </br>
                <input type="text" name="task" class='form-control ' placeholder="{{task.task}}">
                <input type="hidden" name="completed" value="{{task.completed}}">
              </div>

              </br>
                <button type="submit"  class="btn btn-primary ">Update task</button>


          </form>

  {% else %}
   <p>You are not authorised to do this!</p>
  {% endif %}
  </div>
{% endblock %}
